body {

}

// Visualisation styles

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.vote-positive {
  circle {
    stroke: blue;
    // fill: lightsteelblue;
  }

  &.has-children circle {
    fill: blue;
  }
}

.vote-negative {
  circle {
    stroke: red;
    // fill: #FFA7A1;
  }

  &.has-children circle {
    fill: red;
  }
}

.vote-zero {
  circle {
    stroke: gray;
    // fill: #dddddd;
  }

  &.has-children circle {
    fill: gray;
  }
}
