<div class="row">
  <div class="span4">
    <form id="thought-form">
      <fieldset>
        <legend>Your turn...</legend>
        <textarea name="thought" id="thought" placeholder="Type something…"></textarea>
        <button id="thought-submit" type="submit" class="btn">Hit it!</button>
      </fieldset>
    </form>
  </div>

  <div class="span8">
    <div id="history"></div>
  </div>
</div>