.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px; }

.node {
  font: 10px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px; }

.vote-positive circle {
  stroke: blue;
  fill: blue; }

.vote-negative circle {
  stroke: red;
  fill: red; }

.vote-zero circle {
  stroke: gray;
  fill: gray; }
