body.inner {
  background: none; }

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px; }

.node {
  font: 10px sans-serif; }

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px; }

.vote-positive circle {
  stroke: blue; }
.vote-positive.has-children circle {
  fill: blue; }

.vote-negative circle {
  stroke: red; }
.vote-negative.has-children circle {
  fill: red; }

.vote-zero circle {
  stroke: gray; }
.vote-zero.has-children circle {
  fill: gray; }
