// @import 'reset';
@import 'typography';
@import 'css3';

/* Variables
----------------------------------------------------------------------*/

$blue: blue;
$red: red;
$gray: gray;

/* Colours */


/* Mixins
----------------------------------------------------------------------*/


/* General styles
----------------------------------------------------------------------*/

body {

}

// Thoughts

#history {
  .blue {
    color: $blue;
  }

  .red {
    color: $red;
  }

  .user {
    color: #ddd;
    font-style: italic;
    margin-left: 20px;
  }
}

#side {
  .red {
    color: $red;
  }

  .blue {
    color: $blue;
  }

  .spectator {

  }
}