// @import 'reset';
@import 'typography';
@import 'css3';

/* Variables
----------------------------------------------------------------------*/

/* Colours */


/* Mixins
----------------------------------------------------------------------*/


/* General styles
----------------------------------------------------------------------*/

body {

}

// Thoughts

#history .user {
  color: #ddd;
  font-style: italic;
  margin-left: 20px;
}
